html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
}

.card {
  background-color: yellow;
  height: 300px;
  width: 300px;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: burlywood;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}
.button {
  background-color: cornflowerblue;
  padding: 10px;
  border: none;
  min-width: 80px;
  border-radius: 4px;
  color: white;
}

.button:disabled {
  background-color: lightslategray;
}
